// Place all the styles related to the Parsings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content-box {
  width: 75%;
  height: 200px;
  border: 1px solid blue;
  margin-top: 5px;
  padding: 5px;
}
